<section class="contact-section sec-padding" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="section-title">
                            <h2>contact me</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="contact-form">
                            <form action="/register" method="POST">
                                <div class="row">
                                    <div class="input-group">
                                        <input type="text" placeholder="name" class="input-control" name="firstname">
                                    </div>
                                    <div class="input-group">
                                        <input type="email" placeholder="email" class="input-control" name="email">
                                    </div>
                                    <div class="input-group">
                                        <input type="text" placeholder="subject"  class="input-control" name="subject">
                                    </div>
                                    <div class="input-group">
                                        <textarea name="message" placeholder="message" class="input-control"></textarea>
                                    </div>
                                    <div class="submit-btn">
                                        <button type="submit" name="submit" class="btn">send message</button>
                                    </div>

                                </div>

                            </form>

                        </div>
                        <div class="contact-info">
                            <div class="contact-info-item">
                                <h3>Email</h3>
                                <p>frost.ankur019@gmail.com</p>
                            </div>
                            <div class="contact-info-item">
                                <h3>Phone</h3>
                                <p>+91 9761578329</p>
                            </div>
                            <div class="contact-info-item">
                                <h3>follow me</h3>
                                
                                <div class="social-links">
                                    <a href="https://www.facebook.com/ankul070/" target="_blank"> <i class="fab fa-facebook"></i></a>
                                    <a href="https://twitter.com/ankuragrwal63" target="_blank"> <i class="fab fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/_ankul07/" target="_blank"> <i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>