 <div class="header">
                        <div class="container">
                            <div class="row flex-end">
                                <button type="button" class="nav-toggler">
                                    <span></span>
                                </button>
                                <nav class="nav">
                                    <div class="nav-inner">
                                        <ul>
                                           <li><a href="#home" class="nav-item link-item">home</a></li>
                                           <li><a href="#about" class="nav-item link-item">about</a></li>
                                           <li><a href="#portfolio" class="nav-item link-item">portfolio</a></li>
                                           <li><a href="#contact" class="nav-item link-item">contact us</a></li>
                                         
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>